
body {
  margin: 0;
  padding: 0;
  background: #DDD;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 30px;
  color: #222;
  font-family: 'Roboto', sans-serif;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 300px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 4px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 150px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: #20B2AA;
  border: none;
  border-radius: 2px;
  color: #FFF;
  transition: 0.1s ease;
  cursor: pointer;
}

.left {
  position: absolute;
  top: 0;
  left: 200px;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}


.middle {
  display: block;
  position: absolute;
  top: 180px;
  left: 50%;
  width: 50px;
  height: 50px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 50px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0x;
  right: 250px;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  border-radius: 0 2px 2px 0;
}

button.signin {
  top: 100px;
  margin-bottom: 20px;
  width: 220px;
  height: 40px;
  border: none;
  border-radius: 4px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}
button.signin:hover,
button.signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.signin.facebook {
  background: #32508E;
}

button.signin.twitter {
  background: #55ACEE;
}

button.signin.google {
  background: #DD4B39;
}