<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Nutration Store</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <div class="materialContainer">
        <div class="box">
            <form th:action="@{'/store?name=' + ${bear.name}}" method="post" th:object="${bear}">
                <div>
                    <h1 class="h1"> Nutration Store</h1>
                </div>

                <div style="float: left;">
                    <ul >
                        <li class="li"><a th:href="@{'/main?name=' + ${name}}">Information</a></li>
                        <li class="li"><a th:href="@{'/store?name=' + ${name}}">Nutrition Store</a></li>
                        <li class="li"><a th:href="@{'/trickcenter?name=' + ${name}}">Trick Center</a></li>
                        <li class="li"><a href="">Action History</a></li>
                    </ul>
                </div>
                
                <div style="float: right;">
                    <img src="hungry.png" alt="hungry">
                </div>

                <div style="clear:both;"></div>

                <div>
                    <label for="food">Food:  </label>
                    <select class = "styled-select"  id="food" th:field="*{food}" >
                        <option th:each="food: ${foods}" th:value="${food}">
                            <span th:text="${food.value()}"></span>
                        </option>
                    </select>
                </div>

                <div>
                    <label for="drinks">Drink: </label>
                    <select class = "styled-select" id="drinks" th:field="*{drinks}" >
                        <option th:each="drink : ${drinks}" th:value="${drink}">
                            <span th:text="${drink.value()}"></span>
                        </option>
                    </select>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <input type="submit" value="Change" class = button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>