body{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

.box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
}
.button{
    width: 40%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: #ED2553;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    outline:0
}
.h1{

    width: 100%;
    float: left;
    line-height: 46px;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ED2553;
    position: relative;
}

.materialContainer {
    width: 100%;
    max-width: 460px;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.red{
    color: #ED2553;
}

.name {
    margin-bottom: 20px;
    padding-left:10px;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.name:focus {
    border-color:	#32CD32;
    outline: none;
}
.styled-select {
    font-size: 15px;
    padding-left:10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
    position: relative;

}
.styled-select, .styled-select select { width: 240px;}
select:focus { outline: none; }
.styled-select select {
    height: 34px;
    padding: 5px 0 5px 5px;
    background: transparent;
    border: none;
    -webkit-appearance: none;
}

@-moz-document url-prefix(){
    .styled-select select { width: 110%; }
}

.fa-sort-desc {
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 24px;
}

select::-ms-expand { display: none; }

.li{
    margin-bottom: 10px;
}

